.rightSidePanel{
    overflow: hidden;
    

    .row{
        width: 200%;
        transition: all 500ms ease-in-out;

        .col-6{
            max-height: 90vh;
            max-width: 50%;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
}